In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("data_sample.csv")

In [3]:
df

       date  EstimatedCost  RawMaterial  Workmanship  StorageCost
0    1/1/19           1094          211          386           40
1    2/1/19           2850          523          199           49
2    3/1/19           2168          580          236           39
3    4/1/19           1370          368          559           34
4    5/1/19           2429          550          291           33
5    6/1/19           1644          143          395           31
6    7/1/19           1641          640          497           30
7    8/1/19           2340          673          472           29
8    9/1/19           2327           90           31           32
9   10/1/19           1486          398          528           33
10  11/1/19            383           21           48           34
11  12/1/19            451          416          441           38
12   1/1/20            900          514           60           42
13   2/1/20           1653          201          558           43
14   3/1/20           1070          271           32           42
15   4/1/20            443          452          149           43
16   5/1/20           2473          344          223           50
17   6/1/20           1453          478           17           50
18   7/1/20           1659          599          276           55
19   8/1/20            761          673          392           48
20   9/1/20            930          469           43           40

In [4]:
df['ActualCost']=round(df['RawMaterial']+df['Workmanship']+df['StorageCost'],2)
df['SoldPrice']=round(df['EstimatedCost']*1.1,2)
df['MarginOfProfit']=round(df['SoldPrice']-df['ActualCost'],2)

In [5]:
df.to_csv("data_sample_modified.csv")

In [6]:
df

,date,EstimatedCost,RawMaterial,Workmanship,StorageCost,ActualCost,SoldPrice,MarginOfProfit
0,1/1/19,1094,211,386,40,637,1203.4,566.4
1,2/1/19,2850,523,199,49,771,3135.0,2364.0
2,3/1/19,2168,580,236,39,855,2384.8,1529.8
3,4/1/19,1370,368,559,34,961,1507.0,546.0
4,5/1/19,2429,550,291,33,874,2671.9,1797.9
5,6/1/19,1644,143,395,31,569,1808.4,1239.4
6,7/1/19,1641,640,497,30,1167,1805.1,638.1
7,8/1/19,2340,673,472,29,1174,2574.0,1400.0
8,9/1/19,2327,90,31,32,153,2559.7,2406.7
9,10/1/19,1486,398,528,33,959,1634.6,675.6
10,11/1/19,383,21,48,34,103,421.3,318.3
11,12/1/19,451,416,441,38,895,496.1,-398.9
12,1/1/20,900,514,60,42,616,990.0,374.0
13,2/1/20,1653,201,558,43,802,1818.3,1016.3
14,3/1/20,1070,271,32,42,345,1177.0,832.0
15,4/1/20,443,452,149,43,644,487.3,-156.7
16,5/1/20,2473,344,223,50,617,2720.3,2103.3
17,6/1/20,1453,478,17,50,545,1598.3,1053.3
18,7/1/20,1659,599,276,55,930,1824.9,894.9
19,8/1/20,761,673,392,48,1113,837.1,-275.9
20,9/1/20,930,469,43,40,552,1023.0,471.0